:root{
    --hover-color:#03A9F4 ;
    --nav-color:#7D7D7D ;
    --card-name-color:#B4AD9E;
    --text-color:#626262 ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-link{
    color: var(--nav-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--hover-color);
}